* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #010CFF;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.grid-wrapper {
  display: grid;
}

.grid-skills {
  display: grid;
  grid-template-columns: 1fr;
  background: #0C5AE8;
  gap: 1em;

}

.grid-skills-items {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

.about {
  background: #0C5AE8;
  margin: 2vh 0vh;
}

img {
  width: 100vw;
}

a > i {
  color: #fff;
  padding: 10px;
}

.identificationContainer {
  margin: 2vh 0vh;
  background: #0C5AE8;
}

/* Tablet */
@media(min-width: 501px) and (max-width: 768px){
  body {
    background: pink;
  }
}

/* Desktop */
@media(min-width: 769px) and (max-width: 1200px) {
  body {
    background: red;
  }
}

/* Widescreen */
@media (min-width: 1201px) {
  body {
    background: orange;
  }

  img {
    width: 460px;
  }
}