.flexBlock1 {
  display: none;
}

.flexBlock2 {
  width: 100%;
}

.flexBlock2 input {
  width: 70%
}

.flexBlock2 button {
  margin: 0px 5px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primaryDarkColor);
  padding: 10px 0px;
}

.btn {
  padding: 9px 20px;
}

.navbar input {
  padding: 10px 15px;
  margin: auto 10px;
}

.mainTextContainer {
  padding: 0px 25px;
}
