.gridRepositories {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.profileCard {
  width: 100%;
}

.profileArea>.container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
  text-align: center;
}

.profileArea>.container {
  margin: 0px auto;
}
